.searchbar {
    form {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            width: 42rem;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            user-select: none;
            outline: none;
        }

        .search-icon {
            font-size: 20px;
            cursor: pointer;
            margin-left: 10px;
        }
    }
}
