.form {
    display: flex;
    flex-direction: column;

    h2 {
        color: var(--color-black);
    }

    Input {
        margin: 1.6rem 0;
        padding: 15px;
        border-radius: 15px;
        border: 1px solid transparent; /* Border ban đầu là trong suốt */
        transition: border-color 0.3s ease; /* Hiệu ứng chuyển đổi màu border */
        outline: none; /* Loại bỏ outline mặc định */
    }

    input:focus {
        border-color: var(--color-black); /* Màu border khi focus */
    }
}
.changeSignUp,
.changeSignIn {
    display: flex;
    margin-bottom: 5px;
    .csut,
    .csit {
        line-height: 38px;
        margin-left: 15px;
    }
}
.select {
    // border: none;
    border: 1px solid transparent;
    transition: border-color 0.3s ease;
    border-radius: 15px;
    outline: none;
    padding: 15px;
}

.select:focus {
    border-color: var(--color-black);
}
.ocv-m-btn-auth {
    display: flex;
    flex-direction: column;
}
