.container {
    background-color: #f8f9fc;
}
.content {
    // max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 80px;
}

@media (max-width: 1200px) {
    .content {
        max-width: 100%;
    }
}
@media (max-width: 760px) {
    .content {
        padding: 0 24px;
    }
}
