.footer {
    padding: 10px;
    &__grid {
        max-width: 100%; 
        margin: 0 auto;
        padding: 30px;
        border-bottom: 2px solid green;
        &-grow{
            // width: 25%;
            display: flex;
            flex-wrap: wrap; 
            margin-left: -10px; 
            margin-right:-10px;
            
        }
            &-column-2-4{
                padding:0 5px; 
                width: 25%;
            }
    h3{
        position: relative;
    }        

    h3::before{
        content:'';
        position: absolute;
        left: 0;
        bottom: -6px;
    }
    
    }
    &__heading{
        color: black;
        margin: 15px 0 20px;
    }

    &__item{
        margin-top:13px;

        &-link{
            display:inline-block;
            color: black;
            font-size: 15px;
            &:hover{
                color: green;
                transform: translateX(5px);
                transition: transform 0.5s;
            }
        }

        span{
            font-size: 15px;
            padding-right: 10px;
            &__item-iconleft{
                color: green;
            }
        }

        &-iconleft{
            color: green;
        }
        
        &-detail{
            color: black;
        }

        strong{
            color: black;
        }

        &-iconright{
            padding-left: 40px;
        }
        
        li{
            display: inline-block;
            color: black;
        }
    }
    
    &__bottom{
        ul{
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 24px;    
        }
        span{
            display: inline-block;
            font-size: 26px; 
            color: green;
            font-family: sans-serif;
            padding: 0px 5px 0px 0px;
            &:hover{
                color: green;
                transform: translateY(-3px);
                transition: transform 0.5s;
            }
        }
        h3{
            color: black;
        }
        h4{
            display: inline;
            align-items: center;
        }
    } 
    &__contact{
        h3{
            padding-right: 20px;
        }
        span{
            padding-left: 5px;
        }
    }
}

@media (max-width:740px){
    .footer__grid-column-2-4 {
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer__contact {
        display: none;;
    }
}

@media(max-width:555px){
    .footer__grid-column-2-4{
        width: 100%;
    }
}