.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #e8ebed;

    .header__left {
        display: flex;
        align-items: center;

        .header__left-logo {
            margin-right: 20px;
            user-select: none;
            img {
                width: 50px;
            }
        }
    }

    .header__center {
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }

    .header__right {
        display: flex;
        align-items: center;
    }
    .user-avatar {
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin-right: 10%;
        border-radius: 50%;
        cursor: pointer;
    }
}

.header__rigth-currentuser {
    display: flex;
    .header__rigth-notify,
    .header__rigth-cart {
        line-height: 50px;
        color: var(--color-black);
        cursor: pointer;
    }
}

.menu {
    ul {
        display: flex;
        justify-content: space-around;
        padding: 15px 0;
        list-style: none;
        margin: 0;
        border-bottom: 1px solid #e8ebed;
        user-select: none;

        .menu__item {
            margin: 0 10px;

            .menu__item-link {
                text-decoration: none;
                color: #333;

                &:hover {
                    font-weight: 700;
                    color: var(--color-black);
                }
            }
        }
    }
}
