.profile {
    margin-top: 15px;

    .wrapper {
        display: flex;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }
}

.left {
    width: 25%;
    padding: 20px;

    ul {
        list-style: none;
        padding: 0;
    }

    .btn-Link {
        display: block;
        width: 100%;
        text-align: left;
        margin-left: 0;
        margin-bottom: 10px;
        color: #333;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: var(--color-grey-4);
            color: var(--color-white);
        }

        &.active {
            background-color: var(--color-grey-4);
            color: var(--color-white);
        }
    }
}

.right {
    width: 75%;
    padding: 20px;

    .title {
        margin-left: 24px;
        font-weight: 700;
        font-size: 2.5rem;
        color: var(--color-grey-1);
    }

    .profile-info {
        display: flex;
        margin-top: 20px;
    }
    .info-avatar {
        width: 19%;
        margin: 0 auto;
        text-align: center;
    }
    .info-inputs {
        width: 75%;
        display: flex;
        flex-direction: column;

        .inline {
            display: flex;
        }
        label {
            margin-left: 5px;
        }
        Input {
            margin-left: 5px;
            display: flex;
            flex-direction: column;
            padding: 5px;
        }
    }
    .save-button {
        margin-top: 50px;
    }
}
